<!---------------------------------------------

    Copyright (c) 2025 Santiago Mora Pacheco

    This file is under the MIT license.
    See the LICENSE file for more details.

---------------------------------------------->

@inject LanguagesManager Language
@inject NavigationManager Navigation
@inject IJSRuntime jsRuntime

<style>
    .footerMainContainer {
        background-color: var(--background-color);
        min-height: 50px;
        width: 100%;
        padding-inline: 5%;
        padding-block: 20px;
    }

    .footerSubContainer {
        display: flex;
        justify-content: center;
    }

    .footerSection {
        flex: 1;
        --footerSectionColor: #aaa;
    }

    .subFooter {
        --subFooterColor: #777;
        color: var(--subFooterColor) !important;
    }

    .footerLink {
        text-decoration: none;
        color: var(--footerSectionColor);
    }

    .footerLink:hover {
        text-decoration: underline;
        color: var(--footerSectionColor);
    }
</style>

<div class="footerMainContainer" align="center">
    <div class="footerSubContainer">
        <div class="footerSection" style="text-align: start;">
            <h2>@GetValueByKey("nav")</h2>
            <p style="color: var(--footerSectionColor);">
                <a class="footerLink" href="#about-me">@Language.GetValueByKey("NavMenu", "about")</a>
                <br><a class="footerLink" href="#projects">@Language.GetValueByKey("NavMenu", "projects")</a>
                <br><a class="footerLink" href="#skills">@Language.GetValueByKey("NavMenu", "skills")</a>
                <br><a class="footerLink" href="/Curriculum">Curriculum</a>
                <br><a class="footerLink" href="#contact">@Language.GetValueByKey("NavMenu", "contact")</a>
            </p>
        </div>
        <div class="footerSection" style="text-align: end;">
            <h2>@GetValueByKey("contact-me")</h2>
            <p style="color: var(--footerSectionColor);">
                <span style="font-weight: bold; font-style: italic; text-decoration: underline">Santiago Mora Pacheco</span>
                <br><a class="footerLink" href="https://github.com/mor39a" target="_blank" rel="noopener">GitHub</a>
                <br><a class="footerLink" href="https://linkedin.com/in/mora39" target="_blank" rel="noopener">LinkedIn</a>
                <br><a class="footerLink" href=@curriculumPathName download="Curriculum_Santiago_Mora.pdf">Curriculum</a>
                <br><a class="footerLink" href="mailto:s.mor.a0396@gmail.com?Subject=Hi%20Mora" target="_blank" rel="noopener">Email</a>
            </p>
        </div>
    </div>
    <div align="center" class="subFooter" style="border-top: 1px solid var(--subFooterColor); padding-top: 5px; margin-top: 10px;">
        <p class="subFooter">@GetValueByKey("made")</p>
        <p class="subFooter"><a class="footerLink subFooter" href="https://github.com/mor39a/PortfolioMora" target="_blank" rel="noopener">@GetValueByKey("source")</a> - <a class="footerLink subFooter" href="https://raw.githubusercontent.com/mor39a/PortfolioMora/refs/heads/main/LICENSE" target="_blank" rel="noopener">@GetValueByKey("license")</a></p>
    </div>
</div>