<!---------------------------------------------

    Copyright (c) 2025 Santiago Mora Pacheco

    This file is under the MIT license.
    See the LICENSE file for more details.

---------------------------------------------->

@page "/Curriculum"
@page "/CV"

@inject LanguagesManager Language

<PageTitle>Curriculum Vitae - Santiago Mora</PageTitle>

<style>
    .cv-link {
        --linkColor: #777;
        text-decoration: none;
        color: var(--linkColor);
    }

    .cv-link:hover {
        text-decoration: underline;
            color: var(--linkColor);
        cursor: pointer;
    }

</style>

<h1 style="margin-left: 15%;">@GetValueByKey("curriculum")</h1>

<div align="center">
    <hr style="width: 85%; height: 2px; background: white;" />
    <p style="text-align: right; padding-right: 15%; color: #aaa;">
        @GetValueByKey("no-see")
        <br><span class="cv-link" @onclick=ChangeViewer>@GetValueByKey("change-viewer")</span> @GetValueByKey("or") <a class="cv-link" href=@pathName download="Curriculum_Santiago_Mora.pdf">@GetValueByKey("download")</a>
    </p>
    @if (viewer == 1) {
        @*ToDo: Cuando el CV este terminado, probar el embed de canva*@
        @if (Language.Lang == "es") {
            <p>Estamos trabajando en este visualizador. Gracias por tu paciencia.</p>
        } else {
            <p>We're working on this viewer. Thank you for your patience.</p>
        }        
    } else {
        <embed title="CV" type="application/pdf" src=@pathName style="width:70%;height:1000px;" />
    }
    
    
</div>
