<!---------------------------------------------

    Copyright 2025 Santiago Mora Pacheco

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

---------------------------------------------->

@page "/Curriculum"
@page "/CV"

@inject LanguagesManager Language

<PageTitle>Curriculum Vitae - Santiago Mora</PageTitle>

<h1 style="margin-left: 15%;">@GetValueByKey("curriculum")</h1>

<div align="center">
    <hr style="width: 85%; height: 2px; background: white;" />
    <p style="text-align: right; padding-right: 15%; color: #aaa;">
        @GetValueByKey("no-see")
        <br><span class="cv-link" @onclick=ChangeViewer>@GetValueByKey("change-viewer")</span> @GetValueByKey("or") <a class="cv-link" href=@pathName download="Curriculum_Santiago_Mora.pdf">@GetValueByKey("download")</a>
    </p>
    @if (viewer == 1) {
        @*ToDo: Cuando el CV este terminado, probar el embed de canva*@
        @if (Language.Lang == "es") {
            <p>Estamos trabajando en este visualizador. Gracias por tu paciencia.</p>
        } else {
            <p>We're working on this viewer. Thank you for your patience.</p>
        }        
    } else {
        <embed title="CV" type="application/pdf" src=@pathName style="width:70%;height:1000px;" />
    }
    
    
</div>
