<!---------------------------------------------

    Copyright (c) 2025 Santiago Mora Pacheco

    This file is under the MIT license.
    See the LICENSE file for more details.

---------------------------------------------->

@page "/"

@inject LanguagesManager Language
@inject ProjectsManager ProjectManager
@inject SkillsManager SkillManager
@inject NavigationManager Navigation
@inject IJSRuntime jsRuntime

<PageTitle>@GetValueByKey("portfolio") - Santiago Mora</PageTitle>

<meta property="og:title" content="Santiago Mora"/>
<meta property="og:description" content="@GetValueByKey("about")" />
<meta property="og:image" /> @*ToDo*@

<section id="about-me" class="home-section" style="margin-top: 20px; margin-inline: 0;">
    <div class="horizont-content">
        <dev style="flex:1;"/>
        <img class="profile-photo" style="flex:1;" alt=@GetValueByKey("profile-photo") src="./Resources/Images/ProfilePhoto.png" />
        <div style="flex:4;">
            <p>@GetValueByKey("presentation")</p>
            <h1>Santiago Mora</h1>
            <p>@GetValueByKey("about")</p>
            <div class="horizont-content" style="justify-content: start; margin-top: 30px;">
                <a class="btn-primary" style="margin-right:30px;" href="https://github.com/mor39a" target="_blank" rel="noopener">GitHub</a>
                <a class="btn-primary" style="margin-right: 30px;" href="https://linkedin.com/in/mora39" target="_blank" rel="noopener">LinkedIn</a>
                <a class="btn-primary" style="margin-right: 30px;" href="/Curriculum">CV</a>
                <a class="btn-primary" href="mailto:s.mor.a0396@gmail.com?Subject=Hi%20Mora">Email</a>
            </div>
        </div>
        <dev style="flex:1;" />
    </div>
</section>
<div class="divition"/> @*ToDo: Probar <hr>*@
<section id="projects" class="home-section">
    <h1>@GetValueByKey("projects")</h1>
    @for (int count = 0; count < 3; count++) {
        if (projects == null || projects.projects.Values.ToArray().Length <= count) break;
        Components.Projects.Project project = projects.projects.Values.ToArray()[count];
        <div class="project">
            <ProjectViewer ProjectName=@project.name ProjectState=@((project.active) ? GetValueByKey("active-project") : null) ProjectDescription=@project.description ProjectTechnologies=@project.technologies ProjectPhotoName=@project.photoName />
        </div>
    }
    <div style="display: flex; justify-content: center;">
        <div class="btn-primary" @onclick='() => Navigation.NavigateTo("/Projects")'>@GetValueByKey("see-more")</div>
    </div>
</section>
<div class="divition" />
<section id="skills" class="home-section">
    <h1>@GetValueByKey("skills")</h1>
    <div class="skills">
        @foreach (string type in SkillManager.SkillTypes) {
            var translations = SkillManager.Skills.FirstOrDefault(s => s.type == type).typeTranslations;
            string _type = (translations != null && translations.ContainsKey(Language.Lang)) ? translations[Language.Lang] : type;
            <div class="skill">
                <SkillViewer SkillType=@_type Skills=@SkillManager.Skills.Where(s => s.type == type).ToList() />
            </div>            
        }        
    </div>
</section>
<div class="divition" />
<section id="contact" class="home-section">
</section>